input[type="date"] {
  font-size: 18px;
  width: 40%;
}

a {
  text-decoration: none;
}


#load {
  display: none;
  position: fixed;
  width: 300px;
  padding: 10px 10px 10px 10px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  border-radius: 4px;
  background-color: aliceblue;
  border: 1px solid #6c757d;
  z-index: 100000;
}

/* filter form */
/** Filter inputs **/
#filter .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

#filter .form-control,
#filter .btn {
  padding: 5px 4px;
  height: 2em;
  line-height: 1;
}

#filter input.number {
  width: 4em;
}

#filter input.date {
  width: 6em;
}

/* map */
#Map {
  height: 500px;
  width: 50%;
  padding: 0px;
}

#position.row {
  position: relative;
}

#legPos {
  position: absolute;
}

/* event circle */
#Map .leaflet-interactive {
  fill-opacity: 0.6;
}



#depscale {
  width: 100px;
  position: absolute;
  border-left: 30%;
  z-index: 10000;
  left: -10px;
  bottom: 0px;
  padding: 0px;
}

/* #depscale>svg {
  height: 190px;
  background-color: rgba(255, 255, 255, 0.4);
} */

#MLscale {
  width: 230px;
  position: absolute;
  height: 64px;
  left: 0px;
  bottom: 0px;
  padding: 0px;
  z-index: 10000;
}

/* #MLscale>svg {
  width: 230px;
  background-color: rgba(255, 255, 255, 0.4);
} */
.marginTop {
  margin-top: 10px
}

/** Panel styles **/
.base-panel {
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 0 0 8px 0;
  margin: 8px 0;
}

.base-panel>div {
  margin: 4px 20px;
}

.panel {
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 0 0 8px 0;
  margin: 8px 0;
  position: relative;
}

.panel>div {
  margin: 4px 20px;
}

.panel .panel-label {
  background: #f5f5f5;
  border: 1px solid #ddd;
  margin: -1px -1px 4px;
  padding: 0 8px;
  display: block;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 14px;
}

.panel .panel-label-corner {
  background: #f5f5f5;
  border: 1px solid #ddd;
  margin: -1px -1px 4px;
  padding: 0 8px;
  display: block;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 14px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  position: absolute;
}

.panel .panel-label-corner+div {
  margin-top: 24px;
}

.panel .panel-label-corner+div.panel-tight {
  margin-top: 12px;
}

.nsew-table {
  display: inline-block;
  margin: 0 -25%;
}


/* catalog information */
#helpIcon:hover>div {
  display: inline-block;
}

.hover {
  position: absolute;
  display: none;
  width: 300px;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  background-color: aliceblue;
  border: 1px solid #6c757d;
  z-index: 1000;
}

/* for RWD  */
@media (max-width: 991px) {
  #Map {
    width: 100%;
  }

  #depscale {
    position: absolute;
    left: 0%;
    bottom: 58%;
    z-index: 10000;
  }

  .marginTop {
    margin-top: 0px
  }

  .panel-tight.row>div {
    text-align: center !important;
  }

  #MLscale {
    position: absolute;
    left: 0%;
    bottom: 55.5%;
    z-index: 10000;
  }

  .hover {
    width: 200px;
  }
}

@media (max-width: 768px) {
  #Map {
    width: 100%;
  }

  .marginTop {
    margin-top: 0px
  }

  .panel-tight.row>div {
    text-align: center !important;
  }

  #depscale {
    position: absolute;
  }


  #MLscale {
    position: absolute;
  }

  svg text {
    font-size: 16px;
  }

  .hover {
    width: 300px;
  }
}




@media (max-width: 576px) {
  #Map {
    width: 100%;
  }

  .marginTop {
    margin-top: 0px
  }

  .panel-tight.row>div {
    text-align: center !important;
  }

  #depscale {
    position: absolute;
  }


  #MLscale {
    position: absolute;
  }

  svg text {
    font-size: 16px;
  }

  .hover {
    width: 200px;
  }
}

@media (max-width: 425px) {
  #Map {
    width: 100%;
  }

  .marginTop {
    margin-top: 0px
  }

  .panel-tight.row>div {
    text-align: center !important;
  }

  #depscale {
    position: absolute;
  }

  #MLscale {
    position: absolute;
  }

  svg text {
    font-size: 13px;
  }

  .panel .panel-label-corner+div.panel-tight {
    margin-top: 20px;
  }


  .hover {
    right: 0;
    width: 200px;
  }
}

@media (max-width: 375px) {
  #Map {
    width: 100%;
  }

  #depscale {
    position: absolute;
  }


  #MLscale {
    position: absolute;
  }

  svg text {
    font-size: 12px;
  }

  .panel .panel-label-corner+div.panel-tight {
    margin-top: 20px;
  }


  .hover {
    right: 0;
    width: 200px;
  }
}

@media (max-width: 320px) {
  #Map {
    width: 100%;
  }

  #depscale {
    position: absolute;
  }


  #MLscale {
    position: absolute;
  }

  svg text {
    font-size: 12px;
  }

  .panel .panel-label-corner+div.panel-tight {
    margin-top: 20px;
  }


  .hover {
    position: absolute;
    display: none;
    right: 0;
    width: 200px;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    background-color: aliceblue;
    border: 1px solid #6c757d;
    z-index: 1000;
  }
}